{% extends 'base.html' %}

{% block body %}
<h1>自学自習一覧</h1>
<a href="/create" role="button">新規記録</a>
<!-- <a href="/logout" role="button">ログアウト</a> -->
<table class="table table-striped table-hover">
    <tr>
        <th>学生番号</th>
        <th>自習時間</th>
        <th>日付</th>
        <th>操作</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.num }}</td>
        <td>{{ post.time }}時間</td>
        <td>{{ post.due.date() }}</td>
        <td>
            <a href="/delete/{{ post.id }}" role="button">削除</a>
            <a href="/graph" role="button">グラフ</a>
        </td>
    </tr>
    {% endfor %}
 
</table>
{% endblock %}